body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card-text{
   text-align: justify;
}

.col{
    padding: 5px;
}

footer{
    color: white;
    background-color: black;
    text-align: center;
}

.titulo{
    background-color: black ;
    color: white;
    text-align: center;
    padding: 3px;
}

tr img{
    height: 40px;
    width: 40px;
}

.traductor_img{
    height: 30px;
    width: 40px;
}

.row_celda{
    text-align:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flags{
    text-align:center;
}

.conversor_form{
    padding:5px;
    border: gray solid 0.5px;
    border-radius: 15px;
    
}

.traductor_form{
    padding: 5px;
}

.traductor_form .row{
    text-align:center;
    padding: 5px;
}

.traductor_div{
    align-items: center;
    text-align: center;
}

form button{
    width: 100%;
}

svg{
    height: 40px;
    width: 40px;
}
    
